@model List<DetailedEmployeeViewModel>

<div class="d-flex justify-content-between mb-2">
    <h4>Employee Details</h4>
    <a asp-area="Employee" asp-controller="Attendance" asp-action="Index" class="btn border btn btn-info px-4 py-2 text-decoration-none">Attendance</a>
</div>

<div class="data-table">
    <table id="employeeTable" class="display">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Joining Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in Model)
            {
                <tr>
                    <td class="details-control" data-json='@Html.Raw(System.Text.Json.JsonSerializer.Serialize(emp))'></td>
                    <td>@emp.Name</td>
                    <td>@emp.Email</td>
                    <td>@emp.Phone</td>
                    <td>@emp.JoiningDate?.ToString("yyyy-MM-dd")</td>
                </tr>
            }
        </tbody>
    </table>
</div>